<!DOCTYPE html>
<html ng-app="uppSocial">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>Painel Administrativo</title>

		<meta http-equiv="X-UA-Compatible" content="IE=edge" />

		<link href="css/uppsocial.css" rel="stylesheet" media="screen" />
		<link href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />

		<script type="text/javascript">
			var api_info = {url: '/', version: '1'};
		</script>

		<script src="bower_components/jquery/jquery.min.js"></script>
		<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>

		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular/angular-cookies.js"></script>

		<script src="lib/nprogress/nprogress.js"></script>
		<script src="bower_components/angularjs-file-upload/angular-file-upload.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="bower_components/angular-ui-date/src/date.js"></script>
		<script src="bower_components/tinymce/js/tinymce/tinymce.min.js"></script>
		<script src="bower_components/ngInfiniteScroll/ng-infinite-scroll.js"></script>

		<script src="js/app.js"></script>
		<script src="js/services.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/directives.js"></script>

		<script type="text/javascript">
		$(function() {
			$('body').tooltip({
				selector: '[rel=tooltip]'
			});
		});
		</script>
	</head>

	<body ng-class="{true: 'login', false: 'default'}[showLogin]" ng-hide="renderingPage">
		<div class="container first" ng-hide="showLogin">
			<div class="left-column">
					<ul class="menu">
						<li nav-item class="first"><a href="#/dashboard"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
						<li nav-item><a href="#/forms/list"><span class="glyphicon glyphicon-th-list"></span> Questionários</a></li>
						<li nav-item><a href="#/users"><span class="glyphicon glyphicon-user"></span> Usuários</a></li>
						<li nav-item><a href="#/configs"><span class="glyphicon glyphicon-cog"></span> Configurações</a></li>
						<li nav-item class="last"><a href="#/logs"><span class="glyphicon glyphicon-bullhorn"></span> Histórico</a></li>
					</ul>

					<div class="clearfix"></div>

					<ul class="submenu" ng-show="submenu.length">
						<li ng-repeat="item in submenu" nav-item><a href="{{ item.url }}">{{ item.name }}</a></li>
					</ul>

					<div class="box" ng-show="showLoading">
							<div class="content">
								Carregando... Aguarde alguns instantes!
							</div>
					</div>

					<!-- content goes here :D -->
					<div ng-view ng-hide="showLoading"></div>
			</div>

			<div class="right-column">
				<div class="user-info">
					<div class="about">
						<a class="avatar" href="#"><span user-avatar avatar="user.avatar" type="background-image"></span></a>

						<span class="desc">
							<h2>{{ user.name }}</h2>
							<h3>{{ user.role | roleName }}</h3>
						</span>

						<div class="clearfix"></div>
					</div>

					<div class="list">
						<ul class="user-menu">
							<li><a href="#">Ajuda <span class="glyphicon glyphicon-question-sign"></span></a></li>
							<li><a href="#/exports">Exportar dados <span class="glyphicon glyphicon-export"></span></a></li>
							<li><a href="#/users/edit/{{ user.id }}">Ajustes <span class="glyphicon glyphicon-wrench"></span></a></li>
							<li><a href="#/user/logout">Sair <span class="glyphicon glyphicon-eject"></span></a></li>
						</ul>
					</div>
				</div>

				<div class="sidemenu" ng-show="sidemenu.values.length">
					<ul>
						<li ng-repeat="item in sidemenu" nav-item><a href="{{ item.url }}">{{ item.name }}</a></li>
					</ul>
				</div>

				<div compile="sidebar"></div>
			</div>
		</div>

		<div ng-switch on="showLogin">
			<div ng-switch-when="true">
				<div ng-view></div>
			</div>
		</div>
</body>
</html>
